html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* Titles */
.h1Title,
.h5Title{
  width:fit-content;
  margin:0;
  padding:0px;
  line-height:105%;
  text-align:center
}

.h1Title{
  align-self: center;
  margin-bottom:10px;
  font-size:40px;
  color:#333;
}
.h5Title{
  align-self: center;
  margin-bottom:10px;
  font-size:16px;
  color:#999;
}

.boxDisplay{
  border-radius:10px;
  margin-top:45px;
  margin-bottom:60px;
  flex-direction: row;
  flex-wrap:wrap;
  display:flex;
  justify-content: center;
}

.number{
  width:60px;
  height:60px;
  display:flex;
  justify-content: center;
  align-items: center;
  border:3px solid #ddd;
  border-radius:50%;
  font-size:30px;
  font-weight:bold;
  color:#555;
  margin:2px;
}


.btnRefresh{
  display:flex;
  align-self: center;
  padding:25px 50px;
  background:rgb(34, 25, 49);
  border-radius:5px;
  border:0px;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
  color:#fff;
  outline:none;

  transition-duration:0.2s;
  -webkit-transition-duration:0.2s;
  -moz-transition-duration:0.2s;
}
.btnRefresh:hover{
  background:rgb(100, 62, 161)
}